body{
  background-color: #1F1F1F;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #FFFFFF; /* Vit text som standard */
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* Allt centrerat på sidan */
}

#logo{
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.search{
  width: 25%;
  height: 4%;
  display: flex;
  background-color: #4D5157;
  margin-top: 50px; /* Avstånd mellan sökruta och looga */
  padding: 12px; /* Hur mycke luft de e mellan kanterna och ikoner */
  border-radius: 30px; /* Runda kanter */
  align-items: center;
  transition: .3s;
}
.search:hover{
  width: 27%;
  transition: .3s; /* Expanderar lite vid hover för skön effekt */
}

#search{
  height: 20px;
  width: 20px; /* Dimensioner för sök ikonen i sökrutan */
}
input{
  background-color: #4D5157;
  padding-left: 10px; /* Gör så att input inte blöder in i sökikonen */
  margin: 1%;
  color: white;
  border: none; /* Tar bort ful markeringsruta i input */
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 18px;
}
input:focus{
  outline: none; /* Så det inte blir en ful markering när man skriver */
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px; /* Avstånd mellan knappar och sökrutan */
  font-size: 14px; /* Aningen mindre font size för knapparna */
}
.buttons span{
  user-select: none; /* Undviker att text i knappar blir markerad */
}

/* CSS för knappar med animering av storlek vid tryck samt färgändring vid hover */
#button1{
  width: 80px;
  background-color: #303134;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: .2s;
}
#button1:hover{
  width: 80px;
  background-color: #4b6a2c;
  transition: .2s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}
#button1:active{
  width: 75px;
  background-color: #627c48;
  transition: .1s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}
#button2{
  width: 95px;
  background-color: #303134;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  text-align: center;
  transition: .2s;
}
#button2:hover{
  width: 95px;
  background-color: #4d6ba5;
  transition: .2s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}
#button2:active{
  width: 90px;
  background-color: #7d8ba8;
  transition: .1s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}

#output {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5%; /* Padding mellan genererade emojis och sök delen av sidan */
  gap: 3%; /* Avstånd mellan olika emojis */
}
#output p{ /*Styling för placeholder texten innan emoji sök */
  color: #8a8a8a;
  font-weight: bold;
}

.emoji{
  font-size: 75px; /* Storlek på emoji. Lyckades inte göra dem skalbara med % */
  transition: 0.3s;
  user-select: none; /* Undviker att emoji-texten blir markerad vid tryck */
}
/* Hover och klick effekt för mer interaktiv känsla */
.emoji:hover {
  transform: scale(1.1);
  cursor: pointer; /* Cursor ser klickbar ut */
  filter: drop-shadow(0 5px 15px rgb(0, 0, 0));
  transition: 0.3s;
  border: none;
  outline: none;
}
.emoji:active {
  filter: drop-shadow(0 5px 10px #7cc867);
  transform: scale(0.99);
  transition: 0.1s;
  border: none;
  outline: none;
}


#alert{
  position: fixed;      /* fast position på sidan, inte påverkad av layouting */
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #7cc867;
  font-size: 24px;
  filter: drop-shadow(0 5px 15px rgb(0, 0, 0));
  text-align: center;
  /* Jag ville ha en bakgrund för denna men då blir bakgrunden persistent även när ingen alert visas.
  Blir tyvärr att den syns dåligt nu om det är många emojis på skärmen.
   */
}
