body{
  background-color: #1F1F1F;
  font-family: 'Product Sans', sans-serif;
}

.main{
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* Allt centrerat på sidan */
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.search{
  width: 650px;
  height: 30px;
  display: flex; /* Fattar inte riktigt detta men de funkar */
  background-color: #4D5157;
  margin-top: 30px; /* Avstånd mellan sökruta och looga */
  padding: 12px; /* Hur mycke luft de e mellan kanterna och ikoner */
  border-radius: 30px; /* Runda kanter */
  align-items: center;
  justify-content: space-between;
}
#search{
  height: 20px;
  width: 20px;
}
.andraikoner{
  display: flex;
  gap: 10px; /* Avstånd mellan ikonerna */
  align-items: center;
}
#kb{
  height: 25px;
  width: 25px;
}

.ai{
  height: 32px;
  display: flex;
  gap: 5px;
  border: #9c9c9c 1px solid;
  border-radius: 30px;
  font-size: 14px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
#ai{
  width: 15px;
  height: 15px;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  font-size: 14px;
}
#button1{
  width: 100px;
  background-color: #303134;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
#button2{
  width: 75px;
  background-color: #303134;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  text-align: center;
}

p{
  color: white;
}
