body{
  background-color: #1F1F1F;
  font-family: 'Product Sans', sans-serif;
}


.main{
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* Allt centrerat på sidan */
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  transition: .5s;
  animation: spin 3s linear infinite;
}
#logo:hover{
  width: 300px;
  transition: .5s;

}

.search{
  width: 50%;
  height: 30px;
  display: flex; /* Fattar inte riktigt detta men de funkar */
  background-color: #4D5157;
  margin-top: 30px; /* Avstånd mellan sökruta och looga */
  padding: 12px; /* Hur mycke luft de e mellan kanterna och ikoner */
  border-radius: 30px; /* Runda kanter */
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}
.search:hover{
  width: 60%;
  transition: .5s;
}
#search{
  height: 20px;
  width: 20px;
}
input{
  background-color: #4D5157;
  padding-left: 10px;
  padding-right: 10px;
  margin: 1%;
  color: white;
  border: none;
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 16px;
  outline: none;
}
input:focus{
  outline: none;
}
.andraikoner{
  display: flex;
  gap: 10px; /* Avstånd mellan ikonerna */
  align-items: center;
}
#kb{
  height: 25px;
  width: 25px;
}

.ai{
  height: 32px;
  display: flex;
  gap: 5px;
  border: #9c9c9c 1px solid;
  border-radius: 30px;
  font-size: 14px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
#ai{
  width: 15px;
  height: 15px;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  font-size: 14px;
}

#button1{
  width: 100px;
  background-color: #303134;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: .5s;
}
#button1:hover{
  width: 120px;
  background-color: #4b6a2c;
  font-weight: bold;
  transition: .5s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
#button2{
  width: 75px;
  background-color: #303134;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  text-align: center;
  transition: .5s;

}
#button2:hover{
  width: 95px;
  background-color: #4b6a2c;
  font-weight: bold;
  transition: .5s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
p{
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
