body{
  background-color: #1F1F1F;
  font-family: 'Product Sans', sans-serif;
  color: #FFFFFF;
}


.main{
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* Allt centrerat på sidan */
}

#logo{
  margin-top: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  transition: .3s;
}
#logo:hover{ /* Hover enlarge effekt */
  width: 27%;
  transition: .3s;

}

.search{
  width: 25%;
  height: 4%;
  display: flex; /* Fattar inte riktigt detta men de funkar */
  background-color: #4D5157;
  margin-top: 50px; /* Avstånd mellan sökruta och looga */
  padding: 12px; /* Hur mycke luft de e mellan kanterna och ikoner */
  border-radius: 30px; /* Runda kanter */
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}
.search:hover{
  width: 27%;
  transition: .3s;
}
#search{
  height: 20px;
  width: 20px;
}
input{
  background-color: #4D5157;
  padding-left: 10px;
  padding-right: 10px;
  margin: 1%;
  color: white;
  border: none;
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 18px;
  outline: none;
}
input:focus{
  outline: none;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  font-size: 14px;
}

#button1{
  width: 75px;
  background-color: #303134;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: .3s;
}
#button1:hover{
  width: 85px;
  background-color: #4b6a2c;
  font-weight: bold;
  transition: .3s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}
#button2{
  width: 90px;
  background-color: #303134;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  text-align: center;
  transition: .3s;

}
#button2:hover{
  width: 95px;
  background-color: #4d6ba5;
  font-weight: bold;
  transition: .3s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}

#output {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10%;
  column-gap: 5%;
}
#output p{
  font-size: 20px;
  color: #D6D6D6;
}

.emoji{
  font-size: 75px;
}

.name{
  color: #D6D6D6;
}

.emojis{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}
