body{
  background-color: #1F1F1F;
  font-family: 'Product Sans', sans-serif;
  color: #FFFFFF;
}


.main{
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* Allt centrerat på sidan */
}

#logo{
  margin-top: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  transition: .3s;
}


.search{
  width: 25%;
  height: 4%;
  display: flex; /* Fattar inte riktigt detta men de funkar */
  background-color: #4D5157;
  margin-top: 50px; /* Avstånd mellan sökruta och looga */
  padding: 12px; /* Hur mycke luft de e mellan kanterna och ikoner */
  border-radius: 30px; /* Runda kanter */
  align-items: center;
  transition: .3s;
}
.search:hover{
  width: 27%;
  transition: .3s;
}

#search{
  height: 20px;
  width: 20px;
}
input{
  background-color: #4D5157;
  padding-left: 10px;
  padding-right: 10px;
  margin: 1%;
  color: white;
  border: none;
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 18px;
  outline: none;
}
input:focus{
  outline: none;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  font-size: 14px;
}

#button1{
  width: 75px;
  background-color: #303134;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: .2s;
}
#button1:hover{
  width: 75px;
  background-color: #4b6a2c;
  transition: .2s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}
#button1:active{
  width: 70px;
  background-color: #627c48;
  transition: .1s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}
#button2{
  width: 90px;
  background-color: #303134;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  text-align: center;
  transition: .2s;
}
#button2:hover{
  width: 90px;
  background-color: #4d6ba5;
  transition: .2s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}
#button2:active{
  width: 85px;
  background-color: #7d8ba8;
  transition: .1s;
  padding: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}

#output {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5%;
}
#output p{
  font-size: 16px;
  color: #9a9a9a;
  font-weight: bold;
}

.emoji{
  font-size: 75px;
  transition: 0.3s;
}

.emoji:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(0 5px 15px rgb(0, 0, 0));
  transition: 0.3s;
  border: none;
  outline: none;
}

.emoji:active {
  filter: drop-shadow(0 5px 10px #7cc867);
  transform: scale(0.99);
  transition: 0.1s;
  border: none;
  outline: none;
}

.name{
  color: #D6D6D6;
}

.emojis{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  opacity: 0;               /* startar osynlig */
  transform: scale(0.8);    /* startar lite mindre */
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.emojis.show {
  opacity: 1;               /* slutar på fullt synlig */
  transform: scale(1);      /* slutar på normal storlek */
}


#alert{
  position: fixed;      /* ovanpå sidan */
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #7cc867;
  font-size: 24px;
  filter: drop-shadow(0 5px 15px rgb(0, 0, 0));
  text-align: center;
}
